* {
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
}
header nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
}
header nav ul a {
  text-decoration: none;
  font-family: roboto;
  font-size: 13px;
  font-spacing: 0.6em;
  color: #989696;
}